i, em, span, b, strong {
    color: green;
    text-decoration: underline;
}

 ul {
    border: 1px solid lightcoral;
}

ol{
    border: 1px solid green;

}

img {
    width: 100%;
    max-width: 100%;
}


h1 { text-align: center; color: purple}

h2 {color: blue; }

.about { 
    color:aquamarine; 
}